<section>
    <div class="titulos">
        <h1>CONTACTO</h1>
        <div class="lineaAmarilla"></div>
    </div>

    <div class="contenidoContacto">
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d24332.540827785724!2d-3.661237!3d40.329753!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sus!4v1571785743473!5m2!1ses!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

        <div class="informacion">
            <div class="informacionIzquierda">
                <h4><strong>Preguntas</strong></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, odio doloremque eius hic dolores reiciendis. Porro beatae voluptatem ex! Animi perspiciatis dolores corrupti. Iste aut veniam, iure labore blanditiis dignissimos?</p>

                <form action="">
                    <input type="text">
                </form>
            </div>
            <div class="informacionDerecha"></div>
        </div>
    </div>

    .
</section>