<section>
    <div class="titulos">
        <h1>SERVICIO</h1>
        <div class="lineaAmarilla"></div>
    </div>

    <div class="row">
        <div class="imagenPlanemamiento"></div>
        <div class="imagenMaquetas"></div>
        <div class="imagenConstruccion"></div>
    </div>
    <div class="row">
        <div class="planteamineto">
            <h4>Planteamineto</h4>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex quidem eveniet a? Explicabo facere nisi facilis veritatis, earum qui magni consequuntur repellat eum nihil ullam totam, iure pariatur doloremque mollitia repellendus aliquid eos. Delectus ex autem, exercitationem accusantium quibusdam iusto.</span>
        </div>
        <div class="maquetas">
            <h4>Maquetas</h4>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex quidem eveniet a? Explicabo facere nisi facilis veritatis, earum qui magni consequuntur repellat eum nihil ullam totam, iure pariatur doloremque mollitia repellendus aliquid eos. Delectus ex autem, exercitationem accusantium quibusdam iusto.</span>
        </div>
        <div class="construccion">
            <h4>Cosntrucción</h4>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex quidem eveniet a? Explicabo facere nisi facilis veritatis, earum qui magni consequuntur repellat eum nihil ullam totam, iure pariatur doloremque mollitia repellendus aliquid eos. Delectus ex autem, exercitationem accusantium quibusdam iusto.</span>
        </div>
    </div>

</section>