<section>

    <div class="titulos">
        <h1>PROYECTOS</h1>
        <div class="lineaAmarilla"></div>
    </div>

    <div class="imagenesProyectos">
        <div class="row1">
            <div class="proyecto1"><span>Proyecto 1</span></div>
            <div class="proyecto2"><span>Proyecto 2</span></div>
        </div>

        <div class="row2">
            <div class="proyecto3"><span>Proyecto 3</span></div>
            <div class="proyecto4"><span>Proyecto 4</span></div>
        </div>
    </div>

</section>