<!-- Image and text -->
<section class="inicio">

    <nav class="navbar">
        <div class="imagenNavBar">
            <img class="imagenNav" src="../../../assets/img/imagenNavBar.png" alt="">
            <div class="textoNav">
                <span class="esfera"><strong>ESFERA</strong></span>
                <span class="construcciones">CONSTRUCCIONES</span>
            </div>
        </div>
        <ul class="menu">
            <li>INCIO</li>
            <li>SERVICOS</li>
            <li>NOSOTROS</li>
            <li>PROYECTOS</li>
            <li>CONTACTO</li>
        </ul>
    </nav>
    <div class="imagenIncio">
        <div class="tituloImagen">
            <span>
                LÍDERES EN CALIDAD <br>DE CONSTRUCCIÓN E <br>INFRAESTRUCTURA
            </span>
        </div>
    </div>
</section>